.wrapper {
	padding: 20px;
	.input-wrap {
		input {
	    padding: 10px;
	    min-width: 320px;
		}
		position: relative;
		max-width: 320px;
		img {
			position: absolute;
	    top: 15px;
	    right: 0px;
		}
	}
	label {
		font-weight: bold;
    margin-right: 10px;
	}
	.list {
		margin-top: 20px;
		ul {
			list-style: none;
	    display: inline-block;
	    border: 1px solid;
	    margin-top: -20px;
	    min-width: 320px;
	    padding: 0;
	    li {
	    	background: #f9f9f9;
		    padding: 6px 10px;
		    border-bottom: 1px solid;
		    cursor: pointer;
		    &:hover {
		    	background: lightblue;
		    }
	    }
		}
	}
}